andro-prime/09_website-app/automations/n8n/workflows/affiliate-onboarding.json
{
  "name": "Affiliate Onboarding — FirstPromoter Code Issue + Attio Write-Back",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "affiliate-onboarding",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook — Affiliate Onboarding",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst record = (j.body && j.body.record) || j.record || j.body || j;\nif (!record) { throw new Error('No record in payload. Expected { record: {...} } or flat body with email/first_name/last_name/attio_deal_id.'); }\nconst email = record.email;\nconst firstName = record.first_name || record.firstName || '';\nconst lastName = record.last_name || record.lastName || '';\nconst attioDealId = record.attio_deal_id || record.attioDealId || record.deal_id;\nif (!email) { throw new Error('email is required to create a FirstPromoter promoter'); }\nif (!attioDealId) { throw new Error('attio_deal_id is required so we can write the FirstPromoter code back to the deal'); }\nreturn [{\n  json: {\n    email,\n    first_name: firstName,\n    last_name: lastName,\n    attio_deal_id: attioDealId,\n    cust_id: record.cust_id || record.attio_person_id || email\n  }\n}];"
      },
      "id": "format-input",
      "name": "Format Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firstpromoter.com/api/v2/company/promoters",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "ACCOUNT-ID", "value": "qj5zoyxs" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, cust_id: $json.cust_id, profile: { first_name: $json.first_name, last_name: $json.last_name } }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "create-firstpromoter-promoter",
      "name": "Create FirstPromoter Promoter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "firstpromoter-api", "name": "FirstPromoter API" }
      },
      "notes": "POST https://api.firstpromoter.com/api/v2/company/promoters (API v2). Auth via bound httpHeaderAuth credential setting header `Authorization: Bearer <FIRSTPROMOTER_API_KEY>`. v2 also requires header `ACCOUNT-ID: qj5zoyxs` — hardcoded above (same value as the public tracking ID, not a secret). v2 body nests first_name/last_name under `profile`. Response body contains the promoter's promotion data; the next node reads `promotions[0].ref_id` for write-back to Attio."
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst attioDealId = $('Format Input').item.json.attio_deal_id;\n// FirstPromoter API v2 response shape (verified live 2026-05-20):\n//   promoter_campaigns[0].ref_token  -> the affiliate code used in URLs like ?fpr=<code> (THIS is the join key to Attio).\n//   promoter_campaigns[0].ref_link   -> full referral URL.\n//   promoter_campaigns[0].coupon     -> Stripe coupon (often null on accounts that issue ref-token-only attribution).\n// (v1 used `promotions[0].ref_id`; v2 renamed to `promoter_campaigns[0].ref_token` and added the campaign join.)\nconst campaigns = j.promoter_campaigns || [];\nconst c0 = campaigns[0] || {};\nconst code = c0.ref_token || c0.coupon;\nif (!code) { throw new Error('No ref_token or coupon returned by FirstPromoter v2. Response: ' + JSON.stringify(j).slice(0, 500)); }\nreturn [{ json: { attio_deal_id: attioDealId, firstpromoter_code: code, firstpromoter_promoter_id: j.id || null } }];"
      },
      "id": "extract-code",
      "name": "Extract Promo Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.attio.com/v2/objects/deals/records/{{ $json.attio_deal_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ data: { values: { firstpromoter_code: [{ value: $json.firstpromoter_code }] } } }) }}"
      },
      "id": "update-attio-deal",
      "name": "Write Code to Attio Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "attio-api", "name": "Attio API" }
      },
      "notes": "PATCH the deal record to write firstpromoter_code (the join key between Attio and FirstPromoter per attio-config-spec-v2.md). Auth header `Authorization: Bearer <ATTIO_API_KEY>` via bound credential."
    }
  ],
  "connections": {
    "Webhook — Affiliate Onboarding": {
      "main": [[{ "node": "Format Input", "type": "main", "index": 0 }]]
    },
    "Format Input": {
      "main": [[{ "node": "Create FirstPromoter Promoter", "type": "main", "index": 0 }]]
    },
    "Create FirstPromoter Promoter": {
      "main": [[{ "node": "Extract Promo Code", "type": "main", "index": 0 }]]
    },
    "Extract Promo Code": {
      "main": [[{ "node": "Write Code to Attio Deal", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "notes": "Triggered by an Attio webhook (or a forwarder from the Next.js app) when a PT/Influencer/Gym deal reaches the 'approved/activated' stage. Creates a promoter via FirstPromoter API v2 (POST https://api.firstpromoter.com/api/v2/company/promoters), then writes the returned ref_id back to the Attio deal's `firstpromoter_code` field — the join key between the two systems per attio-config-spec-v2.md. Env-free by design: no $env.* references; FirstPromoter and Attio auth come from bound n8n credentials. Both credentials are httpHeaderAuth with header `Authorization` value `Bearer <KEY>`. FirstPromoter v2 also requires header `ACCOUNT-ID: qj5zoyxs` — hardcoded on the FirstPromoter node (not a secret, same value as the public tracking ID). Webhook accepts either { record: {...} } (Supabase shape) or flat body with email/first_name/last_name/attio_deal_id."
}
