andro-prime/09_website-app/automations/n8n/workflows/affiliate-onboarding.json
{
  "name": "Affiliate Onboarding — FirstPromoter Code Issue + Attio Write-Back",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "affiliate-onboarding",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook — Affiliate Onboarding",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Triggered by an Attio NATIVE webhook (Attio Settings > Developers > Webhooks), event record.updated scoped to the Deals object. Attio sends its standard payload { events: [ { id: { record_id } } ] }. The native webhook is used instead of an Attio workflow 'Send HTTP request' block — that block returns HTTP status 0 (never dispatches) and cannot resolve linked-record variables. The native webhook fires on EVERY deal update; the Build FP Payload node gates on stage == Onboarded."
    },
    {
      "parameters": {
        "jsCode": "// Extract the Attio deal record id. Handles every shape we might receive:\n//  - Attio NATIVE webhook (Developers > Webhooks): { events: [ { id: { record_id } } ] }\n//  - flat { attio_deal_id } (manual curl test)\n//  - { record: {...} } wrapper, or a raw Attio record object\nconst j = $input.first().json;\nconst body = (j.body !== undefined && j.body !== null) ? j.body : j;\nlet dealId = null;\n// Attio native webhook payload — events array\nif (body.events && Array.isArray(body.events) && body.events[0] && body.events[0].id) {\n  dealId = body.events[0].id.record_id || body.events[0].id;\n}\n// Flat / wrapper shapes\nif (!dealId) {\n  dealId = body.attio_deal_id || body.attioDealId || body.deal_id || body.id;\n  if (dealId && typeof dealId === 'object') {\n    dealId = dealId.record_id || dealId.id || null;\n  }\n}\nif (!dealId && body.record && body.record.id) {\n  dealId = body.record.id.record_id || body.record.id;\n}\nif (!dealId || typeof dealId !== 'string') {\n  throw new Error('Could not extract attio_deal_id from payload: ' + JSON.stringify(j).slice(0, 400));\n}\ndealId = dealId.trim();\nif (!dealId) {\n  throw new Error('attio_deal_id was empty after trimming: ' + JSON.stringify(j).slice(0, 400));\n}\nreturn [{ json: { attio_deal_id: dealId } }];"
      },
      "id": "format-input",
      "name": "Format Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.attio.com/v2/objects/deals/records/{{ $json.attio_deal_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-attio-deal",
      "name": "Fetch Attio Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "attio-api", "name": "Attio API" }
      },
      "notes": "GET the deal record. The linked Person's record id is at data.values.associated_people[0].target_record_id (verified against the live Attio API 2026-05-21)."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.attio.com/v2/objects/people/records/{{ $json.data.values.associated_people[0].target_record_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-attio-person",
      "name": "Fetch Attio Person",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "attio-api", "name": "Attio API" }
      },
      "notes": "GET the linked Person. email at data.values.email_addresses[0].email_address; name at data.values.name[0].first_name / .last_name (verified live 2026-05-21)."
    },
    {
      "parameters": {
        "jsCode": "// STAGE GATE — Attio's native webhook fires on every deal update, so only\n// proceed when the deal is at stage 'Onboarded' AND has no FirstPromoter code\n// yet. Returning [] stops the workflow quietly: no error, no downstream nodes.\nconst deal = $('Fetch Attio Deal').first().json;\nconst dv = (deal.data && deal.data.values) || {};\nconst stage = ((dv.stage && dv.stage[0] && dv.stage[0].status && dv.stage[0].status.title) || '').trim();\nconst existingCode = (dv.firstpromoter_code && dv.firstpromoter_code[0] && dv.firstpromoter_code[0].value) || '';\nif (stage !== 'Onboarded' || existingCode) {\n  return [];\n}\n// Build the FirstPromoter payload from the linked Person.\nconst person = $input.first().json;\nconst v = (person.data && person.data.values) || {};\nconst email = (v.email_addresses && v.email_addresses[0] && v.email_addresses[0].email_address) || '';\nconst nameObj = (v.name && v.name[0]) || {};\nconst dealId = $('Format Input').first().json.attio_deal_id;\nif (!email) {\n  throw new Error('Linked Person has no email address — cannot create a FirstPromoter promoter.');\n}\nreturn [{ json: {\n  attio_deal_id: dealId,\n  email: email,\n  first_name: nameObj.first_name || '',\n  last_name: nameObj.last_name || ''\n}}];"
      },
      "id": "build-fp-payload",
      "name": "Build FP Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firstpromoter.com/api/v2/company/promoters",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "ACCOUNT-ID", "value": "qj5zoyxs" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, cust_id: $json.attio_deal_id, profile: { first_name: $json.first_name, last_name: $json.last_name } }) }}",
        "options": {}
      },
      "id": "create-firstpromoter-promoter",
      "name": "Create FirstPromoter Promoter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1240, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "firstpromoter-api", "name": "FirstPromoter API" }
      },
      "notes": "POST FirstPromoter API v2. Auth: bound credential sets `Authorization: Bearer <FIRSTPROMOTER_API_KEY>`. `ACCOUNT-ID: qj5zoyxs` is hardcoded (not a secret — same value as the public tracking ID). FirstPromoter rejects a duplicate email with HTTP 400, so a re-fire is harmless — no duplicate promoter is created."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.attio.com/v2/objects/deals/records/{{ $('Format Input').first().json.attio_deal_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: { values: { firstpromoter_code: $json.promoter_campaigns[0].ref_token, code_issued_date: new Date().toISOString().slice(0, 10) } } }) }}",
        "options": {}
      },
      "id": "write-code-to-attio-deal",
      "name": "Write Code to Attio Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1440, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "attio-api", "name": "Attio API" }
      },
      "notes": "PATCH the deal: write firstpromoter_code = promoter_campaigns[0].ref_token from the FirstPromoter response, and code_issued_date = today. firstpromoter_code is the documented join key between Attio and FirstPromoter (attio-config-spec-v2.md)."
    }
  ],
  "connections": {
    "Webhook — Affiliate Onboarding": {
      "main": [[{ "node": "Format Input", "type": "main", "index": 0 }]]
    },
    "Format Input": {
      "main": [[{ "node": "Fetch Attio Deal", "type": "main", "index": 0 }]]
    },
    "Fetch Attio Deal": {
      "main": [[{ "node": "Fetch Attio Person", "type": "main", "index": 0 }]]
    },
    "Fetch Attio Person": {
      "main": [[{ "node": "Build FP Payload", "type": "main", "index": 0 }]]
    },
    "Build FP Payload": {
      "main": [[{ "node": "Create FirstPromoter Promoter", "type": "main", "index": 0 }]]
    },
    "Create FirstPromoter Promoter": {
      "main": [[{ "node": "Write Code to Attio Deal", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "notes": "PT affiliate onboarding. Trigger: an Attio NATIVE webhook (Settings > Developers > Webhooks, event record.updated on the Deals object) POSTs to this webhook on every deal update. Chain: webhook -> Format Input (extract deal id from Attio's events payload) -> Fetch Attio Deal (GET) -> Fetch Attio Person (GET, read email + name) -> Build FP Payload (STAGE GATE: returns [] unless stage == Onboarded and firstpromoter_code empty) -> Create FirstPromoter Promoter (POST api/v2) -> Write Code to Attio Deal (PATCH firstpromoter_code + code_issued_date). Core chain verified against the live Attio + FirstPromoter APIs 2026-05-21. Env-free: two bound httpHeaderAuth credentials — 'Attio API' (Authorization: Bearer <ATTIO_API_KEY>) and 'FirstPromoter API' (Authorization: Bearer <FIRSTPROMOTER_API_KEY>). ACCOUNT-ID hardcoded on the FirstPromoter node (not a secret). The Attio native webhook replaced an Attio workflow 'Send HTTP request' block, which returned HTTP status 0 (never dispatched) across every body configuration tried."
}
