andro-prime/09_website-app/automations/n8n/workflows/kpi-weekly-digest.json
{
  "name": "KPI Weekly Digest — Monday 08:00 GMT",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1" }] }
      },
      "id": "cron-trigger",
      "name": "Every Monday 08:00 GMT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://phqrjtnflovicgkngieu.supabase.co/rest/v1/v_gate_tracker?select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "id": "fetch-gate-tracker",
      "name": "Fetch Gate Tracker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 200],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "httpCustomAuth": { "id": "supabase-service-role", "name": "Supabase Service Role" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://phqrjtnflovicgkngieu.supabase.co/rest/v1/v_supplement_mrr?select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth"
      },
      "id": "fetch-mrr",
      "name": "Fetch Supplement MRR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 400],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "httpCustomAuth": { "id": "supabase-service-role", "name": "Supabase Service Role" }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-sources",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const rows = (name) => {\n  let items;\n  try { items = $(name).all(); } catch (e) { return []; }\n  if (!items || !items.length) return [];\n  const out = [];\n  for (const it of items) {\n    const j = it && it.json;\n    if (j == null) continue;\n    if (Array.isArray(j)) out.push(...j);\n    else if (Array.isArray(j.data)) out.push(...j.data);\n    else if (typeof j === 'object' && Object.keys(j).length) out.push(j);\n  }\n  return out;\n};\nconst NL = String.fromCharCode(10);\nconst num = (v) => (parseFloat(v) || 0);\nconst tick = (ok) => ok ? '✅' : '⏳';\n\nconst gateRows = rows('Fetch Gate Tracker');\nconst mrrRows = rows('Fetch Supplement MRR');\nconst gate = gateRows[0] || {};\n\nconst totalMrr = mrrRows.reduce((s, r) => s + num(r.mrr_gbp), 0);\nconst kits = num(gate.total_kits_sold);\nconst subs = num(gate.active_sub_count);\nconst optins = num(gate.fm_list_optins);\nconst conv = (gate.kit23_to_sub_conversion_pct == null || gate.kit23_to_sub_conversion_pct === '') ? '—' : gate.kit23_to_sub_conversion_pct;\n\nconst mrrLines = mrrRows.length\n  ? mrrRows.map(r => '  ' + (r.product_slug || '?') + ': ' + (r.active_subscribers || 0) + ' subs = £' + num(r.mrr_gbp).toFixed(2) + '/mo').join(NL)\n  : '  (no active supplement subscriptions)';\n\nconst healthy = gateRows.length || mrrRows.length;\n\nconst lines = [\n  'Andro Prime — Weekly KPI Digest',\n  '================================',\n  '',\n  'KIT SALES',\n  'Total kits sold: ' + kits,\n  '',\n  'FOUNDING-MEMBER LIST',\n  'List opt-ins (non-cash): ' + optins,\n  '',\n  'SUPPLEMENTS',\n  'Active subscribers: ' + subs,\n  'MRR: £' + totalMrr.toFixed(2),\n  '',\n  mrrLines,\n  '',\n  'CONVERSION',\n  'Kit 2/3 → supplement: ' + conv + '%',\n  '',\n  'GATE STATUS',\n  'Gate 0A — 50 kits:    ' + tick(kits >= 50) + ' ' + kits + '/50',\n  'Gate 0A — 25 supplement pre-orders: (tracked outside this digest)',\n  'Gate 0C — MRR £1k:    ' + tick(totalMrr >= 1000) + ' £' + totalMrr.toFixed(0) + '/£1000',\n  'Gate 0C — 30 subs:    ' + tick(subs >= 30) + ' ' + subs + '/30',\n  '',\n  'DATA SOURCES',\n  'Gate tracker rows: ' + gateRows.length + ' | Supplement MRR rows: ' + mrrRows.length\n];\nif (!healthy) {\n  lines.push('⚠ Both queries returned no data this week (pre-launch or empty views). Figures shown as zero — the pipeline still ran successfully.');\n}\n\nconst body = lines.join(NL);\nreturn [{ json: { subject: 'Andro Prime KPI — w/c ' + new Date().toLocaleDateString('en-GB'), body } }];"
      },
      "id": "format-digest",
      "name": "Format Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "ops@andro-prime.com",
        "toEmail": "keithantony5@gmail.com",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}"
      },
      "id": "send-email",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 300],
      "credentials": {
        "smtp": { "id": "smtp-creds", "name": "SMTP" }
      }
    }
  ],
  "connections": {
    "Every Monday 08:00 GMT": {
      "main": [[
        { "node": "Fetch Gate Tracker", "type": "main", "index": 0 },
        { "node": "Fetch Supplement MRR", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Gate Tracker": {
      "main": [[{ "node": "Merge Sources", "type": "main", "index": 0 }]]
    },
    "Fetch Supplement MRR": {
      "main": [[{ "node": "Merge Sources", "type": "main", "index": 1 }]]
    },
    "Merge Sources": {
      "main": [[{ "node": "Format Digest", "type": "main", "index": 0 }]]
    },
    "Format Digest": {
      "main": [[{ "node": "Send Digest Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "notes": "Runs every Monday at 08:00 GMT. Independently queries v_gate_tracker and v_supplement_mrr, joins them, formats a plain-text KPI digest, and emails it to Keith. 2026-05-19: deposit metric removed (mechanic shelved 2026-05-08) — now reports non-cash founding-member list opt-ins via v_gate_tracker.fm_list_optins. Requires the updated pipeline_overview.sql view applied to the target DB. Env-free: Supabase auth via bound 'Supabase Service Role' httpCustomAuth credential; digest recipient hardcoded; Supabase project URL baked in (phqrjtnflovicgkngieu). 2026-05-19 (topology rebuild): the earlier sequential chain (cron → Gate → MRR → Format) failed whenever the first view returned no rows — the HTTP node emitted zero items, the chain stopped, and NO digest was sent (silent failure exactly in the pre-launch state where a zero digest is still wanted). Now: cron fans out to BOTH fetch nodes in parallel; each has alwaysOutputData + continueOnFail so an empty view or HTTP error still emits an item instead of killing the run; a Merge node (mode: append) waits for BOTH branches before triggering Format Digest, so the Code node's $('Fetch Gate Tracker')/$('Fetch Supplement MRR') references always resolve (this is the correct fix for the historical 'Node hasn't been executed' fan-in error — a Merge join, not a sequential chain). Format Digest is fully defensive: handles array / object / empty / missing payloads, defaults every figure to 0, always returns exactly one item so the email always sends, and prints a DATA SOURCES row-count line (plus an explicit warning when both views are empty) so a legitimate all-zero week is distinguishable from a broken pipeline."
}
